* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
}

/* Header */
header {
    background-color: #9CCC65;
    padding: 20px;
    font-size: 24px;
    color: black;
}

/* Main container for layout */
.container {
    display: flex;
}

/* Navigation */
nav {
    background-color: #F5F5DC;
    padding: 20px;
    width: 400px;
    height: 440px;
}

/* Article section */
article {
    background-color: white;
    padding: 20px;
    width: 400px;
    height: 440px;
}

/* Aside section */
aside {
    background-color: #F5F5DC;
    padding: 20px;
    width: 400px;
    height: 440px;
    margin-left: 500px;
}

/* Footer */
footer {
    background-color: #9CCC65;
    padding: 20px;
    font-size: 18px;
    color: black;
    
}
